body{
    margin:0;
    padding: 0;
    background-color:rgb(60, 7, 63) ;
}
header{
    width:100%;
    min-height: 70px;
    background-color: rgb(41, 32, 32);
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    align-items: flex-end;
    padding: 5px;
}

h1{
    display: flex;
    padding: 10px;
    background-color: transparent;
    padding-left: 30px;
    color: aqua;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;

}
.headings{
    border:1px #000;
    max-width: 280px;
}
h1:hover{
    color: aqua;
    background: black;
    box-shadow: 0 0 10px red, 
    0  0 40px red,
    0 0 80px red;
}
a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: aqua;
    text-transform: uppercase;
    letter-spacing: normal;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
a:hover{
    color:aqua;
    background: yellowgreen;
    box-shadow: 0 0 10px #2196f3, 
    0  0 40px #2196f3,
    0 0 80px #2196f3;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 200;
}
.start{
    display: flex;
    align-items: center;
    text-align: center;
}
body::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(35% at right 70%);
}
/*
body::after{
    content: '';
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(201, 18, 18, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225,225,225,0.5);
    border-left: 1px solid rgba(225,225,225,0.5);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(20px);
    opacity: 1;
    transition: 0.5s;
}
.container .card:hover .content{
    transform: translateY(20px);
    opacity: 1;
}

.container .card .content h3{
    font-size: 1.5em;
    color: #fff;
    z-index: 1;
}
.container .card .content p{
    font-size: 0.8em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration:none;
    border-radius: 18px;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.project{
    min-height: 70vh;
}
.about{
    min-height: 70vh;
}
.contact{
    min-height:70vh;
}
@media(max-width:998px){
    html{
        font-size: 70%;
    }
    .container .card{
        position: relative;
        width: 200px;
        height: 280px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(225,225,225,0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(225,225,225,0.5);
        border-left: 1px solid rgba(225,225,225,0.5);
    }
}
@media(max-width:768px){
    html{
        font-size: 60%;
    }
    .container .card{
        position: relative;
        width: 160px;
        height: 250px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(225,225,225,0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(225,225,225,0.5);
        border-left: 1px solid rgba(225,225,225,0.5);
    }
}
#contactme{
    background:transparent;
    color: #fff;
}
hover:contactme{
    color:aqua;
    background: yellowgreen;
    box-shadow: 0 0 10px #2196f3, 
    0  0 40px #2196f3,
    0 0 80px #2196f3;
}
